<style>
@media(max-width:8000px) {}

/*그리드 설정*/
#grid {
  border-top: 2px solid gray;
  display: grid;
  grid-template-columns: 200px 1fr;
}

/*제목 설정*/
#title {
  font-size: 40px;
  background-color: #D2FFD2;
  color: purple;
  text-align: center;
  margin-top: 0px;
  padding: 20px;
}

/*좌측 사이드메뉴 설정*/
#menu, #menuExplan {
  margin-left: -30px;
}

/*사이드메뉴 설명 패딩*/
#menuExplan {
  padding-bottom: 20px;
}

/* 메뉴 li태그 설정 */
#menu li {
  padding-bottom: 20px;
}

/* 사이드 경계선 설정 */
#sideBar {
  border-right: 2px solid gray;
  padding: 10px;
}

/* 본문 - 사이드 여백 */
#article {
  padding-left: 25px;
}

/* 트레일러 부분 여백 */
#trailer{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 75px;
}

/* 태그 설정 시작 */
a {
  color: mediumslateblue;
  text-decoration: none;
}

body {
  margin: 0px;
  background-color: white;
  color : black;
}
iframe{
  max-width: 560px;
  max-height: 315px;
}
/* 태그 설정 종료 */

/* 반응형 설정 */
@media(max-width:500px) {

  #grid{
    display: block;
  }
  #sideBar{
    border-right: none;
    border-bottom : 2px solid gray;
  }
  #menu li {
    padding-bottom: 0px;
  }
  #sideBar ul{
    margin-left: 25%;
  }
  #menuExplan{
    padding-bottom: 0px
  }
  #title{
    font-size: 20px;
    padding: 0px;
    margin-bottom: 0px;
  }
  #article {
    padding-left: 25px;
    padding-right: 25px;
  }

  iframe{
    width: 100%;
  }
}

</style>
